name: openai/gpt-oss-20b
checkpoint_dir: ""
device_map: sequential
trust_remote_code: true
quantization:
  load_in_4bit: true
  bnb_4bit_use_double_quant: true
  bnb_4bit_quant_type: nf4
  bnb_4bit_compute_dtype: bfloat16
tokenizer:
  padding_side: right
  use_fast: null
  pad_token_as_eos: true
