name: meta-llama/Llama-3.1-8B-Instruct
checkpoint_dir: ""
device_map: auto
trust_remote_code: true
quantization:
  load_in_4bit: true
  bnb_4bit_use_double_quant: true
  bnb_4bit_quant_type: nf4
  bnb_4bit_compute_dtype: float8
tokenizer:
  padding_side: right
  use_fast: null
  pad_token_as_eos: false
  pad_token: <|finetune_right_pad_id|>
