# @package _global_
defaults:
  - override /prompt: llama_zero_shot
  - override /model: caption/llama_3.1_8b_instruct
  - override /evaluation: caption/zero_shot_judge
  - override /lora: caption/low_rank
  - override /generation: balanced
  - override /paths: plgrid
  - override /logger: wandb

data:
  batch_size: 32
  dataloader_num_workers: 4
  max_train_samples: 10
  max_val_samples: 100
  max_test_samples: 100