# @package _global_
defaults:
  - override /prompt: llama_zero_shot
  - override /model: caption/llama_3.1_8b_instruct
  - override /trainer: caption_lightning/low_lr
  - override /lora: caption/low_rank
  - override /evaluation: caption/zero_shot_judge
  - override /generation: regularization
  - override /paths: plgrid
  - override /logger: wandb

data:
  batch_size: 4
  dataloader_num_workers: 4
  max_train_samples: 1000
  max_val_samples: 100
  max_test_samples: 100

trainer:
  accumulate_grad_batches: 8

callbacks:
  model_checkpoint:
    monitor: val/bertscore_f1
    mode: max
    save_top_k: 1
    filename: best-checkpoint

  early_stopping:
    monitor: val/bertscore_f1
    mode: max
    patience: 3