project: tta_generation
program: src/scripts/tta/run_tta_generation.py
method: bayes
metric:
  name: clap_score_mean
  goal: maximize
parameters:
  logger:
    value: wandb
  callbacks:
    value: none
  model:
    value: tta/musicgen-small
  model.tokenizer.max_new_tokens:
    value: 767
  data:
    value: tta/conceptcaps_test_subset
  data.batch_size:
    value: 16
  generation.temperature:
    distribution: uniform
    min: 0.5
    max: 1.5
  generation.top_k:
    values: [20, 30, 50, 80, 100]
  generation.top_p:
    distribution: uniform
    min: 0.85
    max: 0.99
  generation.guidance_scale:
    distribution: uniform
    min: 1.0
    max: 5.0
  generation.do_sample:
    value: true

early_terminate:
  type: hyperband
  min_iter: 3

command:
  - ${env}
  - python
  - ${program}
  - ${args_no_hyphens}
