defaults:
  - model_checkpoint
  - early_stopping
  - rich_progress_bar
  - _self_

model_checkpoint:
  dirpath: ${paths.model_dir}/${model.name}/${run_id}
  filename: "epoch_{epoch:03d}"
  monitor: "val/loss"
  mode: "min"
  save_last: True
  auto_insert_metric_name: False

early_stopping:
  monitor: "val/loss"
  patience: 3
  mode: "min"