name: "facebook/musicgen-small"
checkpoint_dir: ""
device_map: auto
trust_remote_code: true

use_bf16: true
gradient_checkpointing: true
compile: false

tokenizer:
  max_new_tokens: 255
  use_fast: true
  padding_side: "left"
  pad_token_as_eos: true
